body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

/* Cards con fondo gris claro */
.card {
  background-color: #f8f9fa !important;
}

.card-header {
  background-color: #f1f3f5 !important;
}

.bg-dark {
  background-color: #0d1b2a !important;
}

.nav-link {
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #1b263b !important;
}
